[
        (
            id: "3d3d13f6-7899-4771-958c-7422102279e8",
            data: 1,
        ),
        (
            id: "3f7f5daf-b4d0-4ab8-b96b-a9e786b26836",
            data: 1,
        ),
        (
            id: "afda84ab-74a5-4afd-9830-fccc80931b93",
            data: -1,
        ),
        (
            id: "4358b7c0-6975-4c82-80c3-dfc21268ab38",
            data: 1,
        ),
        (
            id: "ce12c9bc-3893-429a-b5c6-248917174cb5",
            data: 1,
        ),
        (
            id: "be323d40-0480-4e4e-9ae6-94d596658b11",
            data: 1,
        ),
        (
            id: "deedc5b0-f209-45e2-965f-85b40307b1bd",
            data: 1,
        ),
        (
            id: "81fd0d10-7a2f-42c2-8d25-77927bd665c2",
            data: -1,
        ),
        (
            id: "3e6b943c-4c3c-4f05-9fdc-7af3887c4a24",
            data: 1,
        ),
        (
            id: "ae36a543-4260-47af-a22a-a4d979af0877",
            data: -1,
        ),
        (
            id: "037fa081-28cd-4184-8c50-0c736d627aa0",
            data: -1,
        ),
        (
            id: "55ccc03d-80f6-4fff-b1ec-e8d70f5f9189",
            data: -1,
        ),
    ]